<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h2>Registered Users and Parking Info</h2>

    <table border="1" cellpadding="6">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Pin Code</th>
            <th>Current Spot</th>
            <th>Parking Lot</th>
        </tr>
        {% for user in users %}
  <tr>
    <td>{{ user.full_name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.spot_number or 'No Spot Assigned' }}</td>
    <td>{{ user.lot_name or 'N/A' }}</td>
  </tr>
{% endfor %}

    </table>

    <p><a href="{{ url_for('admin_dashboard') }}">⬅ Back to Dashboard</a></p>
</body>
</html>
